.chart-series-line.series0 { -fx-stroke: #000000; -fx-stroke-width: 2px;}
.chart-series-line.series1 { -fx-stroke: #000000; -fx-stroke-width: 2px;}
.chart-series-line.series2 { -fx-stroke: #FF00FF; -fx-stroke-width: 1.5px;}
.chart-series-line.series3 { -fx-stroke: #8B008B; -fx-stroke-width: 1.5px;}
.chart-series-line.series4 { -fx-stroke: #FF0000; -fx-stroke-width: 1.5px;}
.chart-series-line.series5 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series6 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series7 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series8 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series9 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series10 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series11 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series12 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series13 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series14 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series15 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series16 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series17 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series18 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series19 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series20 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series21 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series22 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series23 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series24 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series25 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series26 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series27 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series28 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series29 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series30 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series31 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series32 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series33 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series34 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series35 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series36 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series37 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series38 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series39 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series40 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series41 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series42 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series43 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series44 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series45 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series46 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series47 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series48 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series49 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series50 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series51 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series52 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series53 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series54 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series55 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series56 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series57 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series58 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series59 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series60 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series61 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series62 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series63 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series64 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series65 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series66 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series67 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series68 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series69 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series70 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series71 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series72 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series73 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series74 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series75 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series76 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series77 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series78 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series79 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series80 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series81 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series82 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series83 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series84 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series85 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series86 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series87 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series88 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series89 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series90 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series91 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series92 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series93 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series94 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series95 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series96 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series97 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series98 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series99 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series100 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series101 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series102 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series103 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series104 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series105 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series106 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series107 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series108 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series109 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series110 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series111 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series112 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series113 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series114 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series115 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series116 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series117 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series118 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series119 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series120 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series121 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series122 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series123 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series124 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series125 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series126 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series127 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series128 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series129 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series130 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series131 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series132 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series133 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series134 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series135 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series136 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series137 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series138 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series139 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series140 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series141 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series142 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series143 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series144 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series145 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series146 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series147 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series148 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series149 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series150 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series151 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series152 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series153 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series154 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series155 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series156 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series157 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series158 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series159 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series160 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series161 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series162 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series163 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series164 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series165 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series166 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series167 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series168 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series169 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series170 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series171 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series172 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series173 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series174 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series175 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series176 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series177 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series178 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series179 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series180 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series181 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series182 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series183 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series184 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series185 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series186 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series187 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series188 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series189 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series190 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series191 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series192 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series193 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series194 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series195 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series196 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series197 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series198 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series199 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series200 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series201 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series202 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series203 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series204 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series205 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series206 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series207 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series208 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series209 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series210 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series211 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series212 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series213 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series214 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series215 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series216 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series217 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series218 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series219 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series220 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series221 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series222 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series223 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series224 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series225 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series226 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series227 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series228 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series229 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series230 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series231 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series232 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series233 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series234 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series235 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series236 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series237 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series238 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series239 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series240 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series241 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series242 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series243 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series244 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series245 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series246 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series247 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series248 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series249 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series250 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series251 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series252 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series253 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series254 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series255 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series256 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series257 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series258 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series259 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series260 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series261 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series262 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series263 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series264 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series265 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series266 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series267 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series268 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series269 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series270 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series271 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series272 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series273 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series274 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series275 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series276 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series277 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series278 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series279 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series280 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series281 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series282 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series283 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series284 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series285 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series286 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series287 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series288 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series289 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series290 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series291 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series292 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series293 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series294 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series295 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series296 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series297 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series298 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series299 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series300 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series301 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series302 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series303 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series304 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series305 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series306 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series307 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series308 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series309 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series310 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series311 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series312 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series313 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series314 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series315 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series316 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series317 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series318 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series319 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series320 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series321 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series322 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series323 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series324 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series325 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series326 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series327 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series328 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series329 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series330 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series331 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series332 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series333 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series334 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series335 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series336 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series337 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series338 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series339 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series340 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series341 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series342 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series343 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series344 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series345 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series346 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series347 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series348 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series349 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series350 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series351 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series352 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series353 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series354 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series355 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series356 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series357 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series358 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series359 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series360 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series361 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series362 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series363 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series364 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series365 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series366 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series367 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series368 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series369 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series370 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series371 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series372 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series373 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series374 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series375 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series376 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series377 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series378 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series379 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series380 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series381 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series382 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series383 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series384 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series385 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series386 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series387 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series388 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series389 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series390 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series391 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series392 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series393 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series394 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series395 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series396 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series397 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series398 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series399 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series400 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series401 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series402 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series403 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series404 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series405 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series406 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series407 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series408 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series409 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series410 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series411 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series412 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series413 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series414 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series415 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series416 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series417 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series418 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series419 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series420 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series421 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series422 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series423 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series424 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series425 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series426 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series427 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series428 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series429 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series430 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series431 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series432 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series433 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series434 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series435 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series436 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series437 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series438 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series439 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series440 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series441 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series442 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series443 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series444 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series445 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series446 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series447 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series448 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series449 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series450 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series451 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series452 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series453 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series454 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series455 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series456 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series457 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series458 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series459 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series460 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series461 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series462 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series463 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series464 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series465 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series466 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series467 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series468 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series469 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series470 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series471 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series472 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series473 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series474 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series475 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series476 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series477 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series478 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series479 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series480 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series481 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series482 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series483 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series484 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series485 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series486 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series487 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series488 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series489 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series490 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series491 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series492 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series493 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series494 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series495 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series496 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series497 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series498 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series499 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series500 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series501 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series502 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series503 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series504 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series505 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series506 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series507 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series508 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series509 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series510 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series511 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series512 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series513 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series514 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series515 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series516 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series517 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series518 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series519 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series520 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series521 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series522 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series523 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series524 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series525 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series526 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series527 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series528 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series529 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series530 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series531 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series532 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series533 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series534 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series535 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series536 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series537 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series538 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series539 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series540 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series541 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series542 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series543 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series544 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series545 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series546 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series547 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series548 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series549 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series550 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series551 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series552 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series553 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series554 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series555 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series556 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series557 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series558 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series559 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series560 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series561 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series562 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series563 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series564 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series565 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series566 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series567 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series568 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series569 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series570 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series571 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series572 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series573 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series574 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series575 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series576 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series577 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series578 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series579 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series580 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series581 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series582 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series583 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series584 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series585 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series586 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series587 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series588 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series589 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series590 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series591 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series592 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series593 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series594 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series595 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series596 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series597 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series598 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series599 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series600 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series601 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series602 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series603 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series604 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series605 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}
.chart-series-line.series606 { -fx-stroke: #00FF00; -fx-stroke-width: 1px;}